@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* General Elements */

[class*="container-"] {
  padding: 0 20px;
  margin: 0 auto;
}

.container-sm { max-width: 600px }
.container-md { max-width: 800px }
.container-lg { max-width: 1000px }
.container-xl { max-width: 1200px }

.list {
  padding: 20px;
  list-style: disc;
}

.tag {
  background: #ccc;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
}

/* Homepage */

.section-hero {
  background: #eee;
  padding: 100px 0;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

/* Recipes */

.recipe-info {
  display: flex;
}

.recipe-info li {
  flex: 1
}

.recipe-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* Navigation */

.main-header {
  padding: 20px 0;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-navigation ul {
  display: flex;
  gap: 20px
}

/* Recipe Card Element */

.recipe-card {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.recipe-card .tag {
  position: absolute;
  top: 10px;
  left: 10px;
}

.recipe-card__title {
  font-family: "Source Serif 4"
}