@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  color: white;
  background: #0c0a09;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* General Elements */

[class*="container-"] {
  padding: 0 20px;
  margin: 0 auto;
}

.container-sm { max-width: 600px }
.container-md { max-width: 800px }
.container-lg { max-width: 1000px }
.container-xl { max-width: 1200px }

.list {
  padding: 20px;
  list-style: disc;
}

.tag {
  background: #ff2056;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
}

/* Homepage */

.section-hero {
  color: white;
  background: #1c1917;
  padding: 100px 0;
}

.recipes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 50px 0;
}

.recipes-grid li {
  flex: 1 1 280px;
}

/* Recipes */

.recipe-info {
  display: flex;
}

.recipe-info li {
  flex: 1
}

.recipe-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* Navigation */

.main-header {
  padding: 20px 0;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-navigation ul {
  display: flex;
  gap: 20px
}

/* Recipe Card Element */

.recipe-card {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  background: #292524;
  padding: 5px;
  height: 450px;
  border-radius: 20px;
  transition: 100ms ease-in-out all;
}

.recipe-card:hover {
  background: #ff2056;
}
.recipe-card:focus-visible {
  background: #ff2056;
  outline: 1px solid white;
}

.recipe-card:hover .recipe-card__wrapper {
  box-shadow: inset 0 0 0 10px black;
}

.recipe-card:hover .recipe-card__title {
  color: #ff2056;
}

.recipe-card:hover .recipe-card__content {
  height: 60%;
}

.recipe-card:hover img {
  width: 105%;
}

.recipe-card .tag {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.recipe-card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 250ms ease-in-out all;
}

.recipe-card__wrapper {
  height: 100%;
  overflow: hidden;
  border-radius: 18px;
  position: relative;
}

.recipe-card__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  padding: 30px 20px;
  color: white;
  transition: 250ms ease-in-out all;
  background: linear-gradient(0deg, black 5%, transparent);
}

.recipe-card__title {
  font-size: 24px;
  font-family: "Source Serif 4";
  line-height: 1.1;
  margin-bottom: 10px;
}

.recipe-card__description {
  font-size: 16px;
  line-height: 1.15;
  font-style: italic;
  color: #d6d3d1;
}

/* Hero Search Section */

.hero-search {
  text-align: center;
}

.hero-search__title {
  font-family: "Source Serif 4";
  font-size: 40px;
  line-height: 1.1;
}

.hero-search__description {
  font-size: 20px;
}

.hero-search__form {
  display: flex;
  margin-top: 30px;
}

.hero-search__form input {
  width: 100%;
  font-size: 18px;
  border-radius: 10px 0 0 10px;
  border: none;
  z-index: 10;
  padding: 15px 20px;
  transition: 100ms ease box-shadow;
}

.hero-search__form button {
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  width: 100px;
  color: white;
  background: #ff2056;
  cursor: pointer;
  transition: 100ms ease box-shadow;
}

.hero-search__form *:focus-visible {
  box-shadow: 0 0 5px 0 white, 0 0 10px 5px #ff2056;
  outline: none;
}

/* Individual Recipe Styles */

.recipe {
  color: #d6d3d1;
}

.recipe__image {
  width: 100%;
  margin-bottom: 25px;
}

.recipe__name {
  font-family: "Source Serif 4";
  color: white;
  font-size: 32px;
}

.recipe-info {
  background: #292524;
  border-top: 5px solid #ff2056;
  border-radius: 10px;
  padding: 20px;
  margin: 50px -20px;
}

.recipe-info__label {
  font-family: "Source Serif 4";
  color: white;
  font-weight: bold;
}

.recipe-content__title {
  font-family: "Source Serif 4";
  color: white;
  font-weight: bold;
}