* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* General Elements */

[class*="container-"] {
  padding: 0 20px;
  margin: 0 auto;
}

.container-sm { max-width: 600px }
.container-md { max-width: 800px }
.container-lg { max-width: 1000px }
.container-xl { max-width: 1200px }

.list {
  padding: 20px;
  list-style: disc;
}

/* Homepage */

.section-hero {
  background: #eee;
  padding: 100px 0;
}

/* Recipes */

.recipe-info {
  display: flex;
}

.recipe-info li {
  flex: 1
}

.recipe-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* Navigation */

.main-header {
  padding: 20px 0;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-navigation ul {
  display: flex;
  gap: 20px
}